<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MlpPredictor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MlpPredictor.Properties.Settings>
            <setting name="NetworkNumInput" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NetworkNumHidden" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="NetworkNumOutput" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NetworkHiddenFunctionType" serializeAs="String">
                <value>UnipolarSigmoid</value>
            </setting>
            <setting name="NetworkOutputFunctionType" serializeAs="String">
                <value>UnipolarSigmoid</value>
            </setting>
            <setting name="PredictionDataFilePathEnd" serializeAs="String">
                <value>\PredictionData\PredictionData.csv</value>
            </setting>
            <setting name="LearningDataPercentage" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="MaxLearningRms" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="MaxNumEpoch" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="LearningRate" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="Momentum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LearningAlgorithmType" serializeAs="String">
                <value>BackPropagation</value>
            </setting>
        </MlpPredictor.Properties.Settings>
    </applicationSettings>
</configuration>